<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>KOREA_WEB_ERP</display-name>
  <welcome-file-list>
    <welcome-file>login.html</welcome-file>
    <welcome-file>index.html</welcome-file>
    <welcome-file>calendar.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>payment.html</welcome-file>
    <welcome-file>myinfo.html</welcome-file>
    <welcome-file>board.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>AddEventServlet</display-name>
    <servlet-name>AddEventServlet</servlet-name>
    <servlet-class>control.AddEventServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddEventServlet</servlet-name>
    <url-pattern>/addevent</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewEmpEventServlet</display-name>
    <servlet-name>ViewEmpEventServlet</servlet-name>
    <servlet-class>control.ViewEmpEventServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewEmpEventServlet</servlet-name>
    <url-pattern>/viewempevent</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateEventServlet</display-name>
    <servlet-name>UpdateEventServlet</servlet-name>
    <servlet-class>control.UpdateEventServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateEventServlet</servlet-name>
    <url-pattern>/updateevent</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteEventServlet</display-name>
    <servlet-name>DeleteEventServlet</servlet-name>
    <servlet-class>control.DeleteEventServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteEventServlet</servlet-name>
    <url-pattern>/deleteevent</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>control.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewDeptEventServlet</display-name>
    <servlet-name>ViewDeptEventServlet</servlet-name>
    <servlet-class>control.ViewDeptEventServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewDeptEventServlet</servlet-name>
    <url-pattern>/viewdeptevent</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DownloadServlet</display-name>
    <servlet-name>DownloadServlet</servlet-name>
    <servlet-class>control.DownloadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DownloadServlet</servlet-name>
    <url-pattern>/download</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutServlet</display-name>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>control.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FirstServlet</display-name>
    <servlet-name>FirstServlet</servlet-name>
    <servlet-class>control.FirstServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FirstServlet</servlet-name>
    <url-pattern>/first</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EndTimePageServlet</display-name>
    <servlet-name>EndTimePageServlet</servlet-name>
    <servlet-class>control.EndTimePageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EndTimePageServlet</servlet-name>
    <url-pattern>/endtimepage</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>salaryServlet</display-name>
    <servlet-name>salaryServlet</servlet-name>
    <servlet-class>control.SalaryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>salaryServlet</servlet-name>
    <url-pattern>/salary</url-pattern>
  </servlet-mapping>
  <servlet>
		<description></description>
		<display-name>MyInfoServlet</display-name>
		<servlet-name>MyInfoServlet</servlet-name>
		<servlet-class>control.MyInfoServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>MyInfoServlet</servlet-name>
		<url-pattern>/myinfo</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>MyInfoUpdateServlet</display-name>
		<servlet-name>MyInfoUpdateServlet</servlet-name>
		<servlet-class>control.MyInfoUpdateServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>MyInfoUpdateServlet</servlet-name>
		<url-pattern>/myinfoupdate</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>AnnualLeaveServlet</display-name>
		<servlet-name>AnnualLeaveServlet</servlet-name>
		<servlet-class>control.AnnualLeaveServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AnnualLeaveServlet</servlet-name>
		<url-pattern>/annualleave</url-pattern>
	</servlet-mapping>
	<servlet>
    <description></description>
    <display-name>BoardServlet</display-name>
    <servlet-name>BoardServlet</servlet-name>
    <servlet-class>control.BoardServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BoardServlet</servlet-name>
    <url-pattern>/board</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BoardWriteServlet</display-name>
    <servlet-name>BoardWriteServlet</servlet-name>
    <servlet-class>control.BoardWriteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BoardWriteServlet</servlet-name>
    <url-pattern>/boardwrite</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BoardContentServlet</display-name>
    <servlet-name>BoardContentServlet</servlet-name>
    <servlet-class>control.BoardContentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BoardContentServlet</servlet-name>
    <url-pattern>/boardcontent</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CommentAddServlet</display-name>
    <servlet-name>CommentAddServlet</servlet-name>
    <servlet-class>control.CommentAddServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CommentAddServlet</servlet-name>
    <url-pattern>/commentadd</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BoardModifyServelt</display-name>
    <servlet-name>BoardModifyServelt</servlet-name>
    <servlet-class>control.BoardModifyServelt</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BoardModifyServelt</servlet-name>
    <url-pattern>/boardmodify</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BoardRemoveServlet</display-name>
    <servlet-name>BoardRemoveServlet</servlet-name>
    <servlet-class>control.BoardRemoveServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BoardRemoveServlet</servlet-name>
    <url-pattern>/boardremove</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CommentModifyServlet</display-name>
    <servlet-name>CommentModifyServlet</servlet-name>
    <servlet-class>control.CommentModifyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CommentModifyServlet</servlet-name>
    <url-pattern>/commentmodify</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CommentRemoveServlet</display-name>
    <servlet-name>CommentRemoveServlet</servlet-name>
    <servlet-class>control.CommentRemoveServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CommentRemoveServlet</servlet-name>
    <url-pattern>/commentremove</url-pattern>
  </servlet-mapping>
</web-app>